
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- HH:mm:ss.SSS + [LEVEL] + logger + message -->
            <pattern>%d{HH:mm:ss.SSS} [%level] %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger level; change to DEBUG if you want more details -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
